<div class="product-item">
  <div class="product-image">
    <a href="product-detail.html">
      <img src="{{imagePath}}" alt="Product Image" />
    </a>
    <div class="product-action">
      <a href="#"><i class="fa fa-cart-plus"></i></a>
      <a href="#"><i class="fa fa-heart"></i></a>
      <a href="#"><i class="fa fa-search"></i></a>
    </div>
  </div>
  <div class="product-content">
    <div class="title"><a href="#">{{name}}</a></div>
    <div class="ratting">
      {{{createStarList stars}}}
    </div>
    <div class="price">{{price}} <span>{{oldPrice}}</span></div>
  </div>
</div>